@media screen and (min-width: 1440px) {
  /*? container */
  .container {
    max-width: 1158px;
  }
  /*? container */

  /*!  ---------------header-------------------  */

  .list-adds > li:not(:last-child) {
    margin-right: 40px;
  }

  /*!  ---------------header-------------------  */
  .list-item-two:not(:last-child) {
    margin-right: 24px;
  }
  .list-section-two li p {
    width: 264px;
  }
  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-three {
    padding-top: 120px;
  }
  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-logo-text {
    margin-right: 120px;
  }
  .footer-icon {
    margin-right: 80px;
  }
  .address .link {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms var(--time-function);
  }
}
