@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }

  section,
  main,
  footer {
    width: 100vw;
  }

  /*! -----------------MODAL-MOBILE-------------------  */
  div.js-menu-container.is-hidden {
    opacity: 0;
    transform: translateX(100%);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
  div.js-menu-container.is-open {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  /*! -----------------MODAL-MOBILE-------------------  */
  /* TODO -----------------header----------- */

  header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container-nav {
    position: relative;
  }

  .mob-frst-btt {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    position: absolute;
    right: 16px;
  }

  .first-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .section-one {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 320px;
    margin-bottom: 72px;
  }
  /* ? --------------mob nav style-------------- */
  .js-menu-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100dvh;
    height: 100vh;

    background-color: #fff;

    padding-right: 24px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 24px;
  }

  .mob-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mob-icon-list {
    width: 100%;
  }
  .mob-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(46, 47, 66, 0.1);
  }

  .header-navigation-mob {
    margin-top: 32px;
  }

  .mob-header-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .mob-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mob-nav nav a {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms var(--time-function);
  }
  .mob-header-container li:hover:not(.mob-email, .mob-tel) a {
    color: var(--color-bck-btn-act);
  }

  .mob-icon-list {
    display: flex;
    gap: calc((100% - 3 * 56px) / 4);
  }

  .mob-icon-item {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    background-color: var(--color-font-logo);
  }

  .mob-icon-svg {
    fill: white;
  }

  .mob-icon-svg {
    width: 24px;
    height: 24px;
  }

  .list-adds {
    margin-bottom: 48px;
    flex-direction: column;
    gap: 40px;
  }

  .mob-tel a.link {
    font-weight: 700;
    font-size: 8vw;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4d5ae5;
  }
  .mob-icon-link {
    height: 24px;
    width: 24px;
  }

  .wrraper {
    width: 100%;
  }
  .section-two {
    width: 100%;
    padding-top: 96px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-two {
    width: 100%;
    display: flex;
  }
  .list-item-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item-two:not(:last-child) {
    margin-bottom: 72px;
  }

  .list-section-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item-two {
  }
  .title-sec {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
  }

  section:nth-child(3) {
    display: none;
  }
  .section-four {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .list-team {
    width: 264px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-four-list:not(:last-child) {
    margin-bottom: 72px;
  }
  .section-five {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-five-list {
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    justify-content: center;
  }
  .section-five-item {
    flex-basis: calc((100% - 2 * 16px) / 2);
  }

  /* TODO ----------------footer------------------ */

  .container-footer {
    flex-direction: column;
    align-items: center;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-logo-text,
  .footer-logo-text + div {
    margin-bottom: 72px;
  }

  .footer-input-main {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .footer-input-style {
    width: 100%;
  }

  .footer-form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .header-container.list,
  .header-adds.address {
    display: none;
  }

  .backdrop {
    padding-left: 18px;
    padding-right: 18px;
  }

  /* !-----------------------only input------------------- */
  .modal-group {
    max-width: 100%;
  }
  input,
  textarea {
    max-width: 100%;
  }
  .input-group {
    max-width: 100%;
  }
  /* !-----------------------only input------------------- */

  .section-port {
    padding-top: 48px;
  }
  .list-port {
    flex-wrap: wrap;
    gap: 24px 16px;
    justify-content: start;
    margin-bottom: 48px;
  }

  .list-produckt {
    display: flex;
    gap: 48px;
    flex-direction: column;
  }
  .img-port{
    width: 100%;
  }
}

@media screen and (max-width: 1157px) {
  .section-two-icon {
    display: none;
  }
  .overlay-text-wrraper {
  display: none;
  }
}

