@media screen and (min-width: 768px) {
  /* ?-----------------------closing the mob menu */
  .mob-frst-btt {
    display: none;
  }
  .js-menu-container {
    display: none;
  }
  /* ?------------------------closing the mob menu */
  /*TODO -----------------------------------Container-----------------------------  */
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* TODO -----------------------------------Container-----------------------------  */

  /*!  ---------------------Header ------------*/
  header {
    width: 100%;
  }

  .header-container .current-hover::after {
    display: flex;
    position: absolute;

    bottom: -1px;

    content: '';

    width: 100%;
    height: 4px;

    background: #404bbf;
    border-radius: 2px;

    opacity: 0;
    transition: opacity 250ms var(--time-function);
  }
  .header-container .current-page::after {
    display: flex;
    position: absolute;

    bottom: -1px;

    content: '';

    width: 100%;
    height: 4px;

    background: #404bbf;
    border-radius: 2px;
  }
  .header-container > li:hover .current-hover::after {
    display: flex;
    position: absolute;

    bottom: -1px;

    content: '';

    width: 100%;
    height: 4px;

    background: #404bbf;
    border-radius: 2px;

    opacity: 1;
  }
  .header-navigation .list {
    display: flex;
    gap: 40px;
  }
  .address {
    margin-left: auto;
  }
  .address-link:first-child {
    margin-bottom: 12px;
  }

  .container-nav a {
    display: block;

    color: var(--color-tit-back);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;

    transition: color 250ms var(--time-function);
  }
  .address {
    font-style: normal;
    margin-left: auto;
  }

  /*!  ---------------------Header --------------------------*/

  /*? --------------------section-two----------------------  */

  .section-two {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .list-section-two {
    display: flex;
  }

  /*? --------------------section-two----------------------  */
  /*! --------------------container four----------------------  */
  .list-team {
    display: flex;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  /*! --------------------container four----------------------  */

  /*? -----------------section-five------------------------------- */
  .section-five-list {
    display: flex;
    column-gap: 24px;
  }
  .section-five-item {
    flex-basis: calc((100% - 24px) / 4);
  }

  /*? -----------------section-five------------------------------- */

  /*! -----------------footer------------------------------- */
  footer {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-right: 108px;
    padding-left: 108px;
    display: flex;
    justify-content: center;
  }

  .footer-input-main {
    width: 264px;
    margin-right: 24px;
  }
  /*! -----------------footer------------------------------- */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-three {
    display: none;
  }
  .list-adds {
    flex-direction: column;
  }
  .section-four {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-five {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 552px;
  }
  .footer-logo-text {
    margin-right: 24px;
  }

  /*TODO --------------------first-section----------------------  */
  .first-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /*TODO --------------------first-section----------------------  */
  .list-item-two {
    flex-basis: calc((100% - 24px) / 2);
  }
  .title-sec {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
  }
  .section-two p {
    font-weight: 500;
    font-size: 1em;
  }
  .list-section-two {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .list-team {
    flex-wrap: wrap;
  }
  .section-five-list {
    row-gap: 72px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .list-produckt {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
}
